{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Girls Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header class="page-header">
        <div class="container">
            <h1><a href="{% url 'post_list' %}">Django Girls Blog – Giza Torreiro</a></h1>
<nav class="nav-menu">
    <a href="{% url 'post_list' %}">🏠 Início</a> |
    <a href="{% url 'post_new' %}">📝 Novo Post</a> |
    <a href="{% url 'about' %}">🙋‍♀️ Sobre</a> |
    <a href="{% url 'certificados' %}">📄 Certificados</a>
</nav>

        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
